body {
    height: 100vh;
    display: flex;
    align-items: center;

}
.title {
    text-align: center;
    margin: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
}