{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>TestTask</title>
</head>
<body>
    {% if name and message %}
        <p class="title">Hello {{ name }}! {{ message }}!</p>
    {% else %}
        <p class="title">Pass 'name' and 'message' as query params</p>
    {% endif %}
</body>
</html>